/* .apcs{
    font-weight: bold;
    color: blue;
}

.zoom{
    width: 300px;
} */

/* body{
    text-align: center; 
    background-color: black;
} */


.kuchbhi{
    background-color: blue;
    color: white;
}





